@model IDP_Back_End.Models.Task
@using IDP_Back_End.Models;
<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Task Viewer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/taskViewer.css" />
</head>
<body>
    <div class="task-container" style="margin: 10px">
        <h2><strong>@Model.Title</strong></h2>
        <div class="desc-container">
            @Model.Description
        </div>
        <div class="users-container">
            <strong>Created By: </strong>@Model.CreatedBy.UserName
            @if (Model.TaskOf != null)
            {
                <strong>Task of: </strong>@Model.TaskOf.UserName
            }
        </div>

        <h2>Checklist</h2>
        <div class="checklist-container">
            @foreach (CheckListItem cli in Model.CheckListItems)
            {
                @await Html.PartialAsync("PartialViews/_TaskCheckListItemView", cli);
            }
            <form id="addCheckListItemForm" asp-action="AddCheckListToTask" asp-controller="Tasks" method="get">
                <input type="hidden" name="taskId" value="@Model.ID" />
                <div class="post-checkmark">
                    <input type="text" name="text" value="" />
                    <span class="card-text p-1">
                        <button type="submit" class="btn btn-success btn-sm pull-right" style="margin-bottom: 5px">
                            Post
                        </button>
                    </span>
                </div>
            </form>
        </div>

        <h2>Comments</h2>
        <div class="comment-container">
            @foreach (Comment comment in Model.Comments)
            {
                @await Html.PartialAsync("PartialViews/_TaskCommentView", comment);
            }
            <div class="col-md-6">
                <form id="addCommentForm" asp-action="AddCommentToTask" asp-controller="Tasks" method="get">
                    <input type="hidden" name="taskId" value="@Model.ID" />
                    <input type="hidden" name="username" id="username" />                   
                    <div class="post-comment">
                        <input type="text" name="text" value="" />
                        <span class="card-text p-1">
                            <button type="submit" class="btn btn-success btn-sm pull-right" style="margin-bottom: 5px">
                                Post
                            </button>
                        </span>
                    </div>
                    <script>
                        // Script used to get saved username and append it to the form
                        document.getElementById('addCommentForm').onsubmit = function () {
                            var txt = document.getElementById('username');
                            var token = JSON.parse(localStorage.getItem('currentUser'));
                            txt.value = token.username;
                            console.log("gotten username");
                        };
                    </script>
                </form>
            </div>
        </div>
    </div>
</body>
