@model IDP_Back_End.Models.Task
@using IDP_Back_End.Models;

<div class="taskContainer" style="margin: 10px">
    <h2><strong>@Model.Title</strong></h2>
    <div class="descriptionContainer">
        @Model.Description
    </div>
    <div class="usersContainer">
        <strong>Created By: </strong>@Model.CreatedBy.UserName
        @if (Model.TaskOf != null)
        {
            <strong>Task of: </strong>@Model.TaskOf.UserName
        }
    </div>

    <h3><strong>Checklist</strong></h3>
    <div class="checkListContainer" style="margin: 10px; border: solid gray 2px">
        @foreach (CheckListItem cli in Model.CheckListItems)
        {
            @await Html.PartialAsync("PartialViews/_TaskCheckListItemView", cli);
        }
        <form id="addCheckListItemForm" asp-action="AddCheckListToTask" asp-controller="Tasks" method="get">
            <input type="hidden" name="taskId" value="@Model.ID" />
            <input type="text" name="text" value="" />
            <span class="card-text p-1">
                <button type="submit" class="btn btn-success btn-sm pull-right" style="float:right">
                    Post
                </button>
            </span>
        </form>
    </div>

    <h3><strong>Comments</strong></h3>
    <div class="commentsContainer" style="margin: 10px; border: solid gray 2px">
        @foreach (Comment comment in Model.Comments)
        {
            @await Html.PartialAsync("PartialViews/_TaskCommentView", comment);
        }
        <div class="col-md-6">
            <form id="addCommentForm" asp-action="AddCommentToTask" asp-controller="Tasks" method="get">
                <input type="hidden" name="taskId" value="@Model.ID" />
                <input type="hidden" name="username" id="username" />
                <input type="text" name="text" value="" />
                <span class="card-text p-1">
                    <button type="submit" class="btn btn-success btn-sm pull-right" style="float:right">
                        Post
                    </button>
                </span>
                <script>
                    document.getElementById('addCommentForm').onsubmit = function () {
                        var txt = document.getElementById('username');
                        var token = JSON.parse(localStorage.getItem('currentUser'));
                        txt.value = token.username;
                        console.log("gotten username");
                    };
                </script>
            </form>
        </div>
    </div>
</div>