@model IDP_Back_End.Models.Comment
@using IDP_Back_End.Models;

<div class="commentContainer" style="margin: 10px">
    <div class="userNameContainer">
        <strong>@Model.User.UserName</strong> <br />
        @Model.TimePosted.ToString();
    </div>
    <div class="textContainer">
        @Model.Text
    </div>
    @*<script type="text/javascript">
        function validateMyForm(commentUser)
        {
          if (commentUser != JSON.parse(localStorage.getItem('currentUser')))
          {
            alert("validation failed false");
            returnToPreviousPage();
            return false;
          }

          alert("validations passed");
          return true;
        }
    </script>
    <form id="addCheckListItemForm" asp-action="AddCheckListToTask" asp-controller="Tasks" method="get" onsubmit="return validateMyForm(@Model.User.UserName)">
        <input type="hidden" name="taskId" value="@Model.ID" />
        <input type="text" name="text" value="" />
        <span class="card-text p-1">
            <button type="submit" class="btn btn-success btn-sm pull-right" style="float:right">
                Post
            </button>
        </span>
    </form>*@
</div>