@model IDP_Back_End.Models.Task
@using IDP_Back_End.Models;



    <div id="card" class="task" draggable="true" ondragstart="dragstart_handler(event);" ondragend="dragend_handler(event);">
        <h4 class="card-title">@Model.Title</h4>
        <form id="@Model.ID" asp-action="TaskById" asp-controller="Task" method="get" class="form-id">
            <input type="hidden" name="taskID" value="@Model.ID" />
            <span class="edit-button">
                <button type="submit" class="btn btn-success btn-sm pull-right">
                    <img src="~/assets/images/edit.png" name="pencilEdit" class="pencil" id="pencil" />
                </button>
            </span>
        </form>

        <div class="task-by">
            <p>Task by: @Model.TaskOf.UserName</p>
            <input type="checkbox" id="done" name="done" checked="@Model.Done">
            <span class="checkmark"></span>
        </div>
    </div>

